body {
  display: flex;
  justify-content: center;
  margin: 0px;
  background-color: darkslategray;
}
#fundo {
  display: flex;
  flex-direction: column;
  margin-top: 25vh;
  padding: 50px;
  background-color: lightgray;
}
#titleEstacao {
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
